<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование</title>
    <link rel='stylesheet' href='/webjars/bootstrap/3.3.6/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/webjars/bootstrap/3.3.6/css/bootstrap.min.css'>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<a th:href="@{/}" class="btn btn-success btn-xs">Главный</a>
<body>
<div class="container">
    <div class="rows">
<h3> Редактирование </h3>
<h4><span th:utext="${Error}"></span></h4>
<form autocomplete="off"  class="form-horizontal" th:object="${product}" th:action="@{/product/edit}" method="post" role="form">
    <input type="hidden" th:field="*{id}"/>
    <table class="table">
        <tr>
            <td width="120" style="color:#ff0000">Наименование:</td>
            <td width="320">
                <input type="text" class="form-control" th:field="*{name}" style="color:#ff0000"/></td>
            <td></td>
        </tr>
        <tr>
            <td width="120" style="color:#ff0000">Цена:</td>
            <td width="320">
                <input type="text" class="form-control" th:field="*{price}" style="color:#ff0000"/></td>
            <td></td>
        </tr>
        <tr>
            <td width="120" style="color:#ff0000">Количество:</td>
            <td width="320">
                <input type="text" class="form-control" th:field="*{kolvo}" style="color:#ff0000"/></td>
            <td></td>
        </tr>
        <tr>
            <td width="120" style="color:#ff0000">Скидка:</td>
            <td width="320">
                <input type="text" class="form-control" th:field="*{skidka}" style="color:#ff0000"/></td>
            <td></td>
        </tr>
        <tr>
            <td>
            </td>
            <td><button type="submit" class="btn btn-primary">Сохранить</button></td>
            <td></td>
        </tr>
    </table>
</form>

    </div>
</div>
<BODY background="/image/nov.jpg"></BODY>
<script src="webjars/jquery/1.9.1/jquery.min.js"></script>
<script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>